# App
PORT=3001
NODE_ENV=development

# Database (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=electronics_shop

# Seed database (PostgreSQL) — chỉ dùng khi chạy seed, không dùng trong production
SEED_DB_HOST=localhost
SEED_MEDIA_BASE_URL=http://localhost:9000/electronics-shop

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRES_IN=7d

# Storage — chọn 1 trong 2 provider
STORAGE_PROVIDER=minio   # 'minio' | 's3'

# AWS S3 (nếu dùng S3)
AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=electronics-shop

# MinIO (nếu chạy local)
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=electronics-shop
